.select {
  position: relative;
  display: block;
  text-align: left;
  height: 30px;
}
.select select {
  display: none;
}
.select .jq-selectbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.select .jq-selectbox__select {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: -moz-linear-gradient(top, #fff, #fff 100%);
  background-image: -o-linear-gradient(top, #fff, #fff 100%);
  background-image: -webkit-linear-gradient(top, #fff, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: -ms-linear-gradient(top, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#fff, endColorstr=#fff, GradientType=0);
  height: 100%;
  border: 1px solid #c6d0dd!important;
  background-color: #fff;
  overflow: hidden!important;
  padding: 0px!important;
}
.select .jq-selectbox__select-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 6px 30px 0px 10px;
  font-size: 16px;
  line-height: 18px;
  color: #57687e;
}
.select .jq-selectbox__trigger {
  position: relative;
  display: block;
  text-align: left;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  float: right;
  width: 21px;
  top: 0px;
  right: 0px;
  background-color: #f0f4f7;
  border: none;
}
.select .jq-selectbox__trigger-arrow {
  background-image: url('../../../public/images/icons-arrows.png');
  background-position: -200px 0px;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  border: none;
  width: 11px;
  height: 7px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -6px;
}
.select .jq-selectbox__dropdown {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  bottom: 0px!important;
  overflow: hidden;
  margin: 4px 0px 4px 0px;
}
.select .jq-selectbox__dropdown ul {
  max-height: 198px!important;
  overflow: auto;
}
.select .jq-selectbox__dropdown ul li {
  position: relative;
  display: block;
  text-align: left;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  min-height: inherit;
  padding: 8px 10px 7px 10px;
  font-size: 16px;
  line-height: 18px;
  color: #57687e;
}
.select .jq-selectbox__dropdown ul li:hover {
  background-color: #f0f4f7;
}
.select .jq-selectbox__dropdown ul li.selected {
  background-color: #f0f4f7;
}
.select .jq-selectbox__dropdown ul li.sel {
  background-color: #c6d0dd;
}
.select .jq-selectbox:hover .jq-selectbox__trigger {
  background-color: #d9dfe5;
}
.select .jq-selectbox.opened .jq-selectbox__trigger {
  background-color: #d9dfe5;
}
.select .jq-selectbox.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -4px;
}
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}
.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scroll-element,
.scroll-element div {
  box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: pointer;
}
.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scrollbar-tab {
  overflow-x: hidden;
}
/******************* tab SCROLLBAR *******************/
.scrollbar-tab > .scroll-element,
.scrollbar-tab > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10;
}
.scrollbar-tab > .scroll-element div {
  background-color: transparent;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.scrollbar-tab > .scroll-element.scroll-x {
  border-top: 1px solid #c6d0dd;
  border-bottom: 1px solid #c6d0dd;
  background-color: #f0f4f7;
  bottom: 0;
  height: 18px;
  left: 0;
  min-width: 100%;
  width: 100%;
  visibility: hidden;
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-bar_center {
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  background-color: #c6d0dd;
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-bar_center:hover {
  background-color: #b5c1cf;
}
.scrollbar-tab > .scroll-element.scroll-x.scroll-scrollx_visible {
  visibility: visible;
}
.scrollbar-tab > .scroll-element.scroll-y {
  /*
     border-left: 1px solid #AAAAAA;
     height: 100%;
     min-height: 100%;
     right: 0;
     top: 0;
     width: 16px;
     */
  display: none;
}
.scrollbar-tab > .scroll-element .scroll-element_corner {
  display: none;
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-arrow_less {
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  border-right: 1px solid #c6d0dd;
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-arrow_less:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 6px;
  left: 2px;
  width: 11px;
  height: 7px;
  background-image: url('../../../public/images/icons-arrows.png');
  background-position: -200px 0px;
  background-repeat: no-repeat;
  content: '';
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-arrow_less:hover {
  background-color: #d9dfe5;
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-arrow_more {
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  border-left: 1px solid #c6d0dd;
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-arrow_more:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 6px;
  left: 3px;
  width: 11px;
  height: 7px;
  background-image: url('../../../public/images/icons-arrows.png');
  background-position: -200px 0px;
  background-repeat: no-repeat;
  content: '';
}
.scrollbar-tab > .scroll-element.scroll-x .scroll-arrow_more:hover {
  background-color: #d9dfe5;
}
.scrollbar-tab > .scroll-element .scroll-arrow,
.scrollbar-tab > .scroll-element .scroll-bar_body {
  background-position: center;
  background-repeat: no-repeat;
}
.scrollbar-tab > .scroll-content.scroll-scrollx_visible .history-tab {
  margin-bottom: 18px;
}
/* scrollbar arrows */
.scrollbar-tab > .scroll-element .scroll-arrow {
  display: none;
}
.scrollbar-tab > .scroll-element.scroll-element_arrows_visible .scroll-arrow {
  display: block;
  z-index: 12;
}
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_less {
  height: 100%;
  width: 16px;
}
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_more {
  height: 100%;
  left: auto;
  right: 0;
  width: 16px;
}
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_outer {
  left: 16px;
}
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_track {
  left: -32px;
}
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_size {
  left: -33px;
}
/*
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_less { width: 100%; height: 16px;}
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_more { width: 100%; top: auto; bottom: 0; height: 16px;}

.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_outer { top: 16px; }
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_track { top: -32px; }
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_size { top: -33px; }
*/
/* if another scrollbar is visible */
/* if arrows & another scrollbar are visible */
/*
.scrollbar-tab > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_corner,
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_corner {
     border-top: 1px solid #AAAAAA;
     bottom: 0;
     display: block;
     height: 16px;
     left: auto;
     right: 0;
     top: auto;
     width: 16px;
     z-index: 13;
}
*/
/*
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-arrow_more { right: 27px;}
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-element_track { left: -150px;}
.scrollbar-tab > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-element_size { left: -151px;}
*/
/*
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-arrow_more { bottom: 17px;}
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_track { top: -50px;}
.scrollbar-tab > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_size { top: -51px;}
*/
/*
@color_main: #a18383; 
@color_red: #a63440;
@color_red_dark: #66292f;
@color_dark: #332929;
*/
.b {
  border: 1px solid red;
}
@font-face {
  font-family: 'Calibri';
  src: url('../../../public/fonts/Calibri-Regular.eot');
  src: url('../../../public/fonts/Calibri-Regular.eot?#iefix') format('embedded-opentype'), url('../../../public/fonts/Calibri-Regular.woff') format('woff'), url('../../../public/fonts/Calibri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('../../../public/fonts/Calibri-Bold.eot');
  src: url('../../../public/fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'), url('../../../public/fonts/Calibri-Bold.woff') format('woff'), url('../../../public/fonts/Calibri-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Calibri', sans-serif;
  font-weight: 400;
  line-height: 1;
}
html {
  /*
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    */
}
body {
  background-color: #fff;
}
html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
input,
textarea,
select,
button {
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  outline: none;
}
form {
  position: relative;
  display: block;
  text-align: left;
}
img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  border: none;
}
a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
b {
  font-weight: normal;
}
sup {
  position: relative;
  display: inline;
  text-align: left;
  color: inherit;
  font-weight: inherit;
}
.total-container {
  position: relative;
  display: block;
  text-align: left;
  min-width: 320px;
  min-height: 100%;
  overflow: hidden;
}
.cont {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .cont {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.borderTab {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bbdfe7;
}
.titleTab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  height: 49px;
  background-color: #e1f6fa;
  padding: 0px 19px;
}
@media (max-width: 768px) {
  .titleTab {
    padding: 0px 15px;
  }
}
.titleTab span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: auto 0px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #40929c;
}
@media (max-width: 992px) {
  .titleTab span {
    font-size: 16px;
    line-height: 20px;
  }
}
/* .button ----------------------------------------------*/
.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  height: 30px;
  padding: 8px 18px 0px 18px;
  background-color: #d7e8fd;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #5699f8;
}
.button:hover {
  background-color: #b7d5fc;
  color: #398bf7;
}
.button--yellow {
  background-color: #ffb453;
  color: #873c00;
}
.button--yellow:hover {
  background-color: #f79632;
  color: #873c00;
}
.button--big {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-width: 250px;
  height: 50px;
  padding: 15px 20px 0px 20px;
  background-color: #ffb453;
  color: #873c00;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}
.button--big:hover {
  background-color: #f79632;
  color: #873c00;
}
.button-arrows {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.button-arrows li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-image: url('../../../public/images/icons-arrows.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  float: left;
  width: 40px;
  height: 30px;
  border: 1px solid #c6d0dd;
  border-left: none;
  background-color: #f0f4f7;
  cursor: pointer;
}
.button-arrows li a {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.button-arrows li:first-child {
  -webkit-border-radius: 3px 0px 0px 3px;
  -khtml-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid #c6d0dd;
}
.button-arrows li:last-child {
  -webkit-border-radius: 0px 3px 3px 0px;
  -khtml-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
.button-arrows li:hover {
  background-color: #d9dfe5;
}
.button-arrows__prev {
  background-position: -236px 7px !important;
}
.button-arrows__next {
  background-position: -284px 7px !important;
}
/* .inputText -------------------------------------------*/
.inputText {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  padding: 0px 10px 1px 10px;
  border: 1px solid #c6d0dd;
  font-size: 16px;
  color: #57687e;
}
.inputText::-webkit-input-placeholder {
  color: #9ba8b9;
}
.inputText::-moz-placeholder {
  color: #9ba8b9;
}
.inputText:-moz-placeholder {
  color: #9ba8b9;
}
.inputText:-ms-input-placeholder {
  color: #9ba8b9;
}
.inputText:focus {
  border-color: #aab9cc;
}
.inputText--searchMin {
  width: 190px;
  font-size: 14px;
  padding-bottom: 0px;
}
/* .color -----------------------------------------------*/
.color-red {
  color: #ed1c24;
}
.color-green {
  color: #39b54a;
}
.tab-arrow {
  padding-right: 13px;
}
.tab-arrow:after {
  -webkit-transition: 0.1s transform;
  -moz-transition: 0.1s transform;
  -ms-transition: 0.1s transform;
  -o-transition: 0.1s transform;
  transition: 0.1s transform;
  background-image: url('../../../public/images/icons-arrows.png');
  background-position: -350px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: auto;
  width: 7px;
  height: 13px;
  content: '';
  right: 0px;
  margin-top: -8px;
}
.tab-arrow--conversely:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 100%;
  background-image: url('../../../public/images/header-fon.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-transition: 0.1s width;
  -moz-transition: 0.1s width;
  -ms-transition: 0.1s width;
  -o-transition: 0.1s width;
  transition: 0.1s width;
  background-color: #57687e;
  z-index: 20;
  overflow: auto;
}
.header-block {
  position: relative;
  display: block;
  text-align: left;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header {
    width: 60px;
    overflow: hidden;
  }
  .header:hover {
    width: 230px;
  }
  .header:hover .logo {
    width: auto;
    padding: 3px 12px 0px 12px;
  }
  .header:hover .logo span {
    opacity: 1;
  }
  .header:hover .user__img img {
    width: 70px;
  }
  .header:hover .user__info {
    visibility: visible;
  }
  .header:hover .menu li a span,
  .header:hover .entrance li a span {
    display: block;
  }
}
@media (max-width: 768px) {
  .header {
    position: relative;
    display: block;
    text-align: left;
    border-bottom: 1px solid #6f7e92;
    width: auto;
    height: 80px;
    background-image: none;
    overflow: visible;
  }
  .header .header-block {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: #57687e;
    display: none;
  }
}
/* .mobileMenu ------------------------------------------*/
.mobileMenu {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: auto;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.2s background-color;
  -moz-transition: 0.2s background-color;
  -ms-transition: 0.2s background-color;
  -o-transition: 0.2s background-color;
  transition: 0.2s background-color;
  background-color: #6d7d92;
  right: 15px;
  margin-top: -15px;
  padding-top: 6px;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .mobileMenu {
    display: block;
  }
}
.mobileMenu span {
  position: relative;
  display: block;
  text-align: left;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  width: 16px;
  height: 2px;
  background-color: #b9c6d7;
  margin: 3px auto;
}
.mobileMenu.active {
  background-color: #8390a2;
}
.mobileMenu.active span:nth-child(1) {
  -webkit-transform: translate(0px, 5px) rotate(45deg);
  -moz-transform: translate(0px, 5px) rotate(45deg);
  -ms-transform: translate(0px, 5px) rotate(45deg);
  -o-transform: translate(0px, 5px) rotate(45deg);
  transform: translate(0px, 5px) rotate(45deg);
}
.mobileMenu.active span:nth-child(2) {
  opacity: 0;
}
.mobileMenu.active span:nth-child(3) {
  -webkit-transform: translate(0px, -5px) rotate(-45deg);
  -moz-transform: translate(0px, -5px) rotate(-45deg);
  -ms-transform: translate(0px, -5px) rotate(-45deg);
  -o-transform: translate(0px, -5px) rotate(-45deg);
  transform: translate(0px, -5px) rotate(-45deg);
}
/* .logo ------------------------------------------------*/
.logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}
.logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  height: 30px;
  margin: auto;
  padding: 3px 12px 0px 12px;
  background-color: #ffb453;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}
.logo span {
  position: relative;
  display: inline;
  text-align: left;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .logo span {
    opacity: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .logo {
    width: 30px;
    padding: 3px 8px 0px 8px;
  }
}
@media (max-width: 768px) {
  .logo {
    margin: auto 15px;
  }
}
/* .user ------------------------------------------------*/
.user {
  position: relative;
  display: block;
  text-align: left;
  margin: 20px 0px 15px 0px;
}
@media (max-width: 768px) {
  .user {
    display: none;
  }
}
.user__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.1s height;
  -moz-transition: 0.1s height;
  -ms-transition: 0.1s height;
  -o-transition: 0.1s height;
  transition: 0.1s height;
  height: 70px;
  margin-bottom: 7px;
}
.user__img a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: auto;
}
.user__img img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  width: 70px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .user__img img {
    width: 40px;
  }
}
.user__info {
  position: relative;
  display: block;
  text-align: left;
  -webkit-transition: 0.1s opacity;
  -moz-transition: 0.1s opacity;
  -ms-transition: 0.1s opacity;
  -o-transition: 0.1s opacity;
  transition: 0.1s opacity;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .user__info {
    visibility: hidden;
  }
}
.user__info li {
  position: relative;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #b9c6d7;
  margin-bottom: 5px;
}
.user__info li:last-child {
  margin-bottom: 0px;
}
.user__info li span,
.user__info li a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.user__info li a {
  -webkit-transition: 0.1s color;
  -moz-transition: 0.1s color;
  -ms-transition: 0.1s color;
  -o-transition: 0.1s color;
  transition: 0.1s color;
  text-decoration: none;
}
.user__info li a:hover {
  color: #fff;
}
/* .menu ------------------------------------------------*/
.menu {
  position: relative;
  display: block;
  text-align: left;
  border-top: 1px solid #6f7e92;
  padding: 9px 0px 10px 0px;
}
@media (max-width: 768px) {
  .menu {
    border-top: none;
  }
}
.menu li {
  position: relative;
  display: block;
  text-align: left;
}
.menu li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  height: 40px;
  padding: 1px 20px 0px 50px;
  font-size: 16px;
  line-height: 16px;
  color: #b9c6d7;
  text-decoration: none;
}
.menu li a span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: auto 0px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .menu li a span {
    display: none;
  }
}
.menu li a:before {
  background-image: url('../../../public/images/icons-menu.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 20px;
  content: '';
}
.menu li a:hover {
  background-color: #73849b;
  color: #fff;
}
.menu li.active a {
  background-color: #404e61;
  font-weight: 800;
  color: #fff;
}
.menu-buy a:before {
  background-position: 1px 2px!important;
}
.menu-buy a:hover:before {
  background-position: 1px -48px !important;
}
.menu-buy.active a:before {
  background-position: 1px -48px !important;
}
.menu-room a:before {
  background-position: -47px 2px !important;
}
.menu-room a:hover:before {
  background-position: -47px -48px !important;
}
.menu-room.active a:before {
  background-position: -47px -48px !important;
}
.menu-history a:before {
  background-position: -98px 2px !important;
}
.menu-history a:hover:before {
  background-position: -98px -48px !important;
}
.menu-history.active a:before {
  background-position: -98px -48px !important;
}
.menu-voucher a:before {
  background-position: -148px 2px !important;
}
.menu-voucher a:hover:before {
  background-position: -148px -48px !important;
}
.menu-voucher.active a:before {
  background-position: -148px -48px !important;
}
.menu-referrals a:before {
  background-position: -199px 1px !important;
}
.menu-referrals a:hover:before {
  background-position: -199px -49px !important;
}
.menu-referrals.active a:before {
  background-position: -199px -49px !important;
}
.menu-settings a:before {
  background-position: -248px 2px !important;
}
.menu-settings a:hover:before {
  background-position: -248px -48px !important;
}
.menu-settings.active a:before {
  background-position: -248px -48px !important;
}
.menu-help a:before {
  background-position: -298px 2px !important;
}
.menu-help a:hover:before {
  background-position: -298px -48px !important;
}
.menu-help.active a:before {
  background-position: -298px -48px !important;
}
.menu-wallet a:before {
  background-position: -348px 1px !important;
}
.menu-wallet a:hover:before {
  background-position: -348px -49px !important;
}
.menu-wallet.active a:before {
  background-position: -348px -49px !important;
}
/* .entrance --------------------------------------------*/
.entrance {
  position: relative;
  display: block;
  text-align: left;
  border-top: 1px solid #6f7e92;
  padding: 9px 0px 10px 0px;
}
.entrance li {
  position: relative;
  display: block;
  text-align: left;
}
.entrance li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  height: 40px;
  padding: 1px 20px 0px 50px;
  font-size: 16px;
  line-height: 18px;
  color: #b9c6d7;
  text-decoration: none;
}
.entrance li a span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: auto 0px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .entrance li a span {
    display: none;
  }
}
.entrance li a:before {
  background-image: url('../../../public/images/icons-menu.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 20px;
  content: '';
}
.entrance li a:hover {
  background-color: #73849b;
  color: #fff;
}
.entrance li.active a {
  background-color: #404e61;
  font-weight: 800;
  color: #fff;
}
.entrance-enter a:before {
  background-position: -397px 2px !important;
}
.entrance-enter a:hover:before {
  background-position: -397px -48px !important;
}
.entrance-enter.active a:before {
  background-position: -397px -48px !important;
}
.content {
  position: relative;
  display: block;
  text-align: left;
  -webkit-transition: 0.1s padding-left;
  -moz-transition: 0.1s padding-left;
  -ms-transition: 0.1s padding-left;
  -o-transition: 0.1s padding-left;
  transition: 0.1s padding-left;
  padding-left: 230px;
}
@media (max-width: 992px) {
  .content {
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .content {
    padding-left: 0px;
  }
}
.content-title {
  position: relative;
  display: block;
  text-align: left;
  background-color: #e9eef4;
  margin-bottom: 30px;
}
.content-title .cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}
.content-title h1,
.content-title h2,
.content-title h3 {
  position: relative;
  display: block;
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  color: #57687e;
  margin: auto 0px;
}
.informers-block {
  position: relative;
  display: block;
  text-align: left;
}
.informer {
  position: relative;
  display: block;
  text-align: left;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 50px;
  margin-bottom: 10px;
  padding: 16px 45px 12px 21px;
}
.informer:last-child {
  margin-bottom: 0px;
}
.informer p {
  position: relative;
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.informer p a {
  position: relative;
  display: inline;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
  color: #3a7bd1;
  text-decoration: none;
  word-wrap: break-word;
}
.informer p a:hover {
  text-decoration: underline;
}
.informer p:last-child {
  margin-bottom: 0px;
}
.informer__button {
  background-image: url('../../../public/images/icons-arrows.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: auto;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  right: 13px;
  cursor: pointer;
  z-index: 1;
}
.informer--info {
  background-color: #daf3ff;
}
.informer--info p {
  color: #31708f;
}
.informer--info .informer__button {
  background-position: 0px 0px;
}
.informer--info .informer__button:hover {
  background-position: 0px -50px;
}
.informer--yellow {
  background-color: #ffebaf;
}
.informer--yellow p {
  color: #8a6d3b;
}
.informer--yellow .informer__button {
  background-position: -50px 0px;
}
.informer--yellow .informer__button:hover {
  background-position: -50px -50px;
}
.informer--red {
  background-color: #ffe3e3;
}
.informer--red p {
  color: #a94442;
}
.informer--red .informer__button {
  background-position: -100px 0px;
}
.informer--red .informer__button:hover {
  background-position: -100px -50px;
}
.informer--green {
  background-color: #c7f2d1;
}
.informer--green p {
  color: #538f60;
}
.informer--green .informer__button {
  background-position: -150px 0px;
}
.informer--green .informer__button:hover {
  background-position: -150px -50px;
}
.technical-offers {
  position: relative;
  display: block;
  text-align: left;
  padding-top: 30px;
}
.technical-offers .cont {
  text-align: center;
}
.technical-offers__box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-width: 300px;
  height: 90px;
  margin: 0px 6px 10px 0px;
  padding: 22px 10px 5px 90px;
  background-color: #aab9cc;
  text-decoration: none;
}
@media (max-width: 768px) {
  .technical-offers__box {
    position: relative;
    display: block;
    text-align: left;
    min-width: inherit;
    margin-right: 0px;
  }
}
.technical-offers__box:before {
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-image: url('../../../public/images/lightning.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: #c5d0de;
  margin-top: -25px;
  content: '';
}
.technical-offers__title {
  position: relative;
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #57687e;
}
.technical-offers__title b {
  position: relative;
  display: inline;
  text-align: left;
  font-size: inherit;
  font-weight: 800;
  line-height: inherit;
  color: inherit;
  margin-right: 4px;
}
.technical-offers__value {
  position: relative;
  display: block;
  text-align: left;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}
.technical-offers__value b {
  position: relative;
  display: inline;
  text-align: left;
  font-size: inherit;
  font-weight: 800;
  line-height: inherit;
  color: inherit;
  margin-right: 4px;
}
.graphics {
  position: relative;
  display: block;
  text-align: left;
  padding: 20px 0px 40px 0px;
}
.graphics-cont {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
@media (max-width: 768px) {
  .graphics-cont {
    display: block;
    width: auto;
  }
}
.graphics-cont__left,
.graphics-cont__right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  float: left;
}
@media (max-width: 768px) {
  .graphics-cont__left,
  .graphics-cont__right {
    display: block;
    float: none;
    width: auto!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
}
.graphics-cont__left {
  width: 65%;
  padding-right: 15px;
}
.graphics-cont__right {
  width: 35%;
  padding-left: 15px;
}
.graphics-cont.active .graphics-title b:after {
  display: none;
}
.graphics-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dde4ed;
  height: 71px;
}
@media (max-width: 768px) {
  .graphics-nav {
    position: relative;
    display: block;
    text-align: left;
    height: auto;
    min-height: 70px;
  }
}
.graphics-title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-transition: 0.1s color;
  -moz-transition: 0.1s color;
  -ms-transition: 0.1s color;
  -o-transition: 0.1s color;
  transition: 0.1s color;
  margin-top: 25px;
  font-size: 30px;
  font-weight: 800;
  line-height: 28px;
  color: #398bf7;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 768px) {
  .graphics-title {
    position: relative;
    display: block;
    text-align: left;
  }
}
.graphics-title b {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  width: 22px;
  height: 22px;
  top: 3px;
  margin-right: 8px;
}
.graphics-title b:before,
.graphics-title b:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #398bf7;
  content: '';
}
.graphics-title b:before {
  width: 16px;
  height: 2px;
  margin: -1px 0px 0px -8px;
}
.graphics-title b:after {
  width: 2px;
  height: 16px;
  margin: -8px 0px 0px -1px;
}
.graphics-title:hover {
  color: #3a7bd1;
}
.graphics-title:hover b {
  background-color: #d7e8fd;
}
.graphics-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: auto 0px auto auto;
  display: none;
}
@media (max-width: 768px) {
  .graphics-button {
    margin: 14px 0px 10px 0px;
  }
}
.graphics-button li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 6px;
}
.graphics-button li:first-child {
  margin-left: 0px;
}
@media (max-width: 768px) {
  .graphics-button li {
    margin: 0px 6px 10px 0px;
  }
  .graphics-button li:last-child {
    margin-right: 0px;
  }
}
.graphics-box {
  position: relative;
  display: block;
  text-align: left;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bbdfe7;
  margin-bottom: 30px;
  display: none;
}
.graphics-box__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  height: 49px;
  background-color: #e1f6fa;
  padding: 0px 19px;
}
@media (max-width: 768px) {
  .graphics-box__title {
    padding: 0px 15px;
  }
}
.graphics-box__title span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: auto 0px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #40929c;
}
@media (max-width: 992px) {
  .graphics-box__title span {
    font-size: 16px;
    line-height: 20px;
  }
}
.graphics-box__tab {
  position: relative;
  display: block;
  text-align: left;
  min-height: 230px;
}
@media (max-width: 768px) {
  .graphics-box__tab {
    min-height: inherit;
  }
}
.graphics-box__tab table {
  position: relative;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.graphics-box__tab table tr:nth-child(2n + 0) td {
  background-color: #f0f4f7;
}
.graphics-box__tab table td {
  height: 40px;
  padding: 4px 5px 1px 16px;
  font-size: 16px;
  color: #57687e;
}
@media (max-width: 1080px) {
  .graphics-box__tab table td {
    font-size: 14px;
  }
}
.graphics-box__cont {
  position: relative;
  display: table;
  width: 100%;
}
@media (max-width: 768px) {
  .graphics-box__cont {
    position: relative;
    display: block;
    text-align: left;
  }
}
.graphics-box__info,
.graphics-box__value {
  position: relative;
  display: table-cell;
  vertical-align: top;
  text-align: left;
  height: 230px;
}
@media (max-width: 768px) {
  .graphics-box__info,
  .graphics-box__value {
    position: relative;
    display: block;
    text-align: left;
    height: auto;
  }
}
.graphics-box__info {
  width: 170px;
  padding: 25px 0px 0px 20px;
}
@media (max-width: 768px) {
  .graphics-box__info {
    padding: 25px 0px 0px 15px;
  }
}
.graphics-box__info-list {
  position: relative;
  display: block;
  text-align: left;
}
.graphics-box__info-list li {
  position: relative;
  display: block;
  text-align: left;
  border-bottom: 1px solid #dde4ed;
  padding: 12px 0px 13px 20px;
}
.graphics-box__info-list li:last-child {
  border-bottom: none;
}
.graphics-box__info-list li:before {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  content: '';
  background-color: #26c6da;
}
.graphics-box__info-list li b {
  position: relative;
  display: block;
  text-align: left;
  font-size: 21px;
  line-height: 25px;
  color: #57687e;
}
.graphics-box__info-list li span {
  position: relative;
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  color: #57687e;
  margin-bottom: 2px;
}
.graphics-box__info-list li.graph-balance:before {
  top: 20px;
  background-color: #0c8897;
}
.graphics-box__info-list li.graph-balance b {
  font-size: 30px;
  line-height: 32px;
}
.graphics-box__info-list li.graph-pay:before {
  top: 18px;
  background-color: #26c6da;
}
.graphics-box__info-list li.graph-pay b {
  font-size: 21px;
  line-height: 25px;
}
.graphics-box__value {
  padding: 25px 25px 0px 20px;
}
@media (max-width: 768px) {
  .graphics-box__value {
    padding: 18px 15px 38px 15px;
  }
}
.graphics-box__value-chart {
  position: absolute;
  width: 100%;
  height: 167px;
  top: 27px;
  left: 0px;
  padding: 0px 60px 0px 85px;
}
@media (max-width: 768px) {
  .graphics-box__value-chart {
    top: 20px;
    padding: 0px 50px 0px 75px;
  }
}
.graphics-box__value-chart img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  height: 100%;
}
.graphics-box__list-y {
  position: relative;
  display: block;
  text-align: left;
}
.graphics-box__list-y li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #9ba8b9;
  white-space: nowrap;
  margin-bottom: 26px;
}
.graphics-box__list-y li:before {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #dde4ed;
  content: '';
}
.graphics-box__list-y li:last-child {
  margin-bottom: 0px;
}
.graphics-box__list-y li b {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
}
.graphics-box__list-y li b:nth-child(1) {
  width: 62px;
  padding-right: 10px;
  float: left;
}
.graphics-box__list-y li b:nth-child(2) {
  width: 35px;
  padding-left: 10px;
  float: right;
  text-align: right;
}
.graphics-box__list-x {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  padding: 3px 0px 0px 57px;
}
@media (max-width: 768px) {
  .graphics-box__list-x {
    padding: 6px 0px 0px 50px;
  }
}
.graphics-box__list-x li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  float: left;
  width: 14.28571429%;
  font-size: 12px;
  line-height: 14px;
  color: #9ba8b9;
}
@media (max-width: 768px) {
  .graphics-box__list-x li {
    display: none;
    width: 25%;
  }
  .graphics-box__list-x li:nth-child(1) {
    display: inline-block;
  }
  .graphics-box__list-x li:nth-child(2) {
    display: inline-block;
  }
  .graphics-box__list-x li:nth-child(3) {
    display: inline-block;
  }
  .graphics-box__list-x li:nth-child(4) {
    display: inline-block;
  }
}
.settings {
  position: relative;
  display: block;
  text-align: left;
  max-width: 620px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .settings {
    max-width: none;
  }
}
.settings-menu {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
.settings-menu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 10px;
}
.settings-menu li span,
.settings-menu li a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  height: 30px;
  padding: 8px 14px 0px 14px;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: #57687e;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid transparent;
}
.settings-menu li span:hover,
.settings-menu li a:hover {
  border-color: #e1f6fa;
  background-color: #e1f6fa;
  color: #40929c;
}
.settings-menu li.active span,
.settings-menu li.active a {
  border-color: #bbdfe7;
  background-color: #fff;
  color: #40929c;
}
.settings-cont {
  position: relative;
  display: block;
  text-align: left;
}
.settings-button {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 30px;
}
/* .setProfile ------------------------------------------*/
.setProfile {
  position: relative;
  display: table;
  width: 100%;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bbdfe7;
}
@media (max-width: 768px) {
  .setProfile {
    position: relative;
    display: block;
    text-align: left;
    padding: 10px 0px 10px 0px;
  }
}
.setProfile__box {
  position: relative;
  display: table-row;
}
@media (max-width: 768px) {
  .setProfile__box {
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 12px;
  }
  .setProfile__box:last-child {
    margin-bottom: 0px;
  }
}
.setProfile__box:first-child .setProfile__info {
  -webkit-border-radius: 4px 0px 0px 0px;
  -khtml-border-radius: 4px 0px 0px 0px;
  -moz-border-radius: 4px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px;
}
.setProfile__box:last-child .setProfile__info {
  -webkit-border-radius: 0px 0px 0px 4px;
  -khtml-border-radius: 0px 0px 0px 4px;
  -moz-border-radius: 0px 0px 0px 4px;
  border-radius: 0px 0px 0px 4px;
}
.setProfile__box:last-child .setProfile__info,
.setProfile__box:last-child .setProfile__value {
  border-bottom: none;
}
@media (max-width: 768px) {
  .setProfile__box--addAvatar {
    margin: 23px 0px 21px 0px;
  }
}
.setProfile__info,
.setProfile__value {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  height: 30px;
  border-bottom: 1px solid #bbdfe7;
}
@media (max-width: 768px) {
  .setProfile__info,
  .setProfile__value {
    position: relative;
    display: block;
    text-align: left;
    height: auto;
    border-bottom: none;
  }
}
.setProfile__info {
  width: 190px;
  padding: 1px 20px 0px 20px;
  background-color: #e1f6fa;
}
@media (max-width: 768px) {
  .setProfile__info {
    width: auto;
    background-color: transparent;
    padding: 0px 10px;
  }
}
.setProfile__info span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  color: #40929c;
}
@media (max-width: 768px) {
  .setProfile__info span {
    margin-bottom: 2px;
  }
}
.setProfile__value {
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .setProfile__value {
    padding: 0px 10px;
  }
}
/* .addAvatar -------------------------------------------*/
.addAvatar {
  position: relative;
  display: block;
  text-align: left;
}
.addAvatar__button {
  position: relative;
  display: block;
  text-align: left;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -ms-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
  width: 70px;
  height: 70px;
  border: 1px solid #c6d0dd;
  background-color: #f0f4f7;
  cursor: pointer;
}
.addAvatar__button:before,
.addAvatar__button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-color: #57687e;
}
.addAvatar__button:after {
  width: 20px;
  height: 2px;
  margin: -1px 0px 0px -10px;
}
.addAvatar__button:before {
  width: 2px;
  height: 20px;
  margin: -10px 0px 0px -1px;
}
.addAvatar__button:hover {
  background-color: #d9dfe5;
}
/* .dateBirth -------------------------------------------*/
.dateBirth {
  position: relative;
  display: table;
  width: 100%;
}
.dateBirth__box {
  position: relative;
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0px 5px;
}
.dateBirth__box:first-child {
  padding-left: 0px;
}
.dateBirth__box:last-child {
  padding-right: 0px;
}
.dateBirth__box--month {
  width: 50%;
}
.dateBirth__box--day {
  width: 20%;
}
.dateBirth__box--year {
  width: 30%;
}
.history {
  position: relative;
  display: block;
  text-align: left;
  padding-bottom: 20px;
}
.history-box {
  position: relative;
  display: block;
  text-align: left;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bbdfe7;
  margin-bottom: 40px;
}
.history-box__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  height: 49px;
  background-color: #e1f6fa;
  padding: 0px 19px;
}
@media (max-width: 768px) {
  .history-box__title {
    padding: 0px 15px;
  }
}
.history-box__title span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: auto 0px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #40929c;
}
@media (max-width: 992px) {
  .history-box__title span {
    font-size: 16px;
    line-height: 20px;
  }
}
.history-box__cont {
  position: relative;
  display: block;
  text-align: left;
}
.history-tab {
  position: relative;
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #bbdfe7;
  border-bottom: 1px solid #dde4ed;
}
.history-tab td {
  min-width: 70px;
  height: 40px;
  padding: 8px 5px 5px 10px;
  font-size: 14px;
  line-height: 18px;
}
.history-tab td span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
}
.history-tab td:first-child {
  border-left: none;
}
@media (max-width: 768px) {
  .history-tab td {
    padding: 10px 5px 5px 8px;
  }
}
.history-tab thead td {
  background-color: #e1f6fa;
  font-weight: 800;
  color: #40929c;
  border-bottom: 1px solid #bbdfe7;
  border-left: 1px solid #bbdfe7;
}
.history-tab thead td span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.history-tab tbody td {
  border-left: 1px solid #dde4ed;
  color: #57687e;
}
.history-tab tbody tr:nth-child(2n + 0) td {
  background-color: #f5f7fa;
}
.history-elements {
  position: relative;
  display: table;
  width: 100%;
  padding: 14px 18px;
}
@media (max-width: 768px) {
  .history-elements {
    position: relative;
    display: block;
    text-align: left;
    padding: 14px 10px;
  }
}
.history-elements__box {
  position: relative;
  display: table-cell;
  vertical-align: top;
  text-align: left;
}
@media (max-width: 768px) {
  .history-elements__box {
    position: relative !important;
    display: block !important;
    text-align: left !important;
    margin-bottom: 10px;
  }
  .history-elements__box:last-child {
    margin-bottom: 0px;
  }
}
.history-elements__box-title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  color: #9ba8b9;
  padding: 7px 10px 0px 0px;
}
.history-elements__box--select {
  text-align: right;
}
.history-elements__box--button {
  width: 170px;
  text-align: right;
}
.history-elements .select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 68px;
}
.history-elements .select .jq-selectbox__select-text {
  font-size: 14px;
  padding-top: 7px;
}
.history-elements .button-arrows {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.hFooter {
  height: 120px;
}
@media (max-width: 992px) {
  .hFooter {
    height: 130px;
  }
}
.footer {
  position: relative;
  display: block;
  text-align: left;
  border-top: 1px solid #dde4ed;
  -webkit-transition: 0.1s padding-left;
  -moz-transition: 0.1s padding-left;
  -ms-transition: 0.1s padding-left;
  -o-transition: 0.1s padding-left;
  transition: 0.1s padding-left;
  height: 120px;
  min-width: 320px;
  margin-top: -120px;
  padding-left: 230px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .footer {
    height: 130px;
    margin-top: -130px;
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-left: 0px;
  }
}
.footer-info {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  margin-top: 30px;
  text-align: justify;
}
@media (max-width: 992px) {
  .footer-info {
    margin-top: 27px;
    text-align: center;
  }
}
.footer-info:after {
  content: "1";
  margin-left: 100%;
  height: 1px;
  overflow: hidden;
  display: inline-block;
}
@media (max-width: 992px) {
  .footer-info:after {
    display: none;
  }
}
.footer-info li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  color: #57687e;
  margin-bottom: 12px;
  padding-right: 20px;
}
.footer-info li:last-child {
  padding-right: 0px;
}
@media (max-width: 992px) {
  .footer-info li {
    position: relative;
    display: block;
    text-align: center;
    padding-right: 0px;
  }
  .footer-info li:last-child {
    margin-bottom: 0px;
  }
}
